<?xml version="1.0" ?>

<robot name="mrm" xmlns:xacro="https://www.ros.org/wiki/xacro" >

	<!-- BGN Include -->
	<xacro:include filename="$(find rbt_manipulator)/urdf/links_joint.xacro" />
	<xacro:include filename="$(find rbt_manipulator)/urdf/robot_parameters.xacro" />
	<!-- END Include -->
	
	<!-- BGN Robot description -->
	<xacro:m_link_box name="${l00}" origin_xyz="0 0 0" origin_rpy="0 0 0" mass="1024" ixx="170.6667" ixy="0" ixz="0" iyy="170.6667" iyz="0" izz="170.6667" size="1 1 1" color_c="Black" rgba="0 0 0 1.0"/>

	<xacro:m_joint name="${l00}__${l01}" type="revolute" axis_xyz="0 0 1" origin_rpy="0 0 0" orgin_xyz="0 0 0.5" parent="${l00}" child="${l01}" limit_e="1000.0" limit_l="-3.14" limit_u="3.14" limit_v="0.5"/>
		
	<xacro:m_link_cylinder name="${l01}" origin_xyz="0 0 0.2" origin_rpy="0 0 0" mass="57.906" ixx="12.679" ixy="0" ixz="0" iyy="12.679" iyz="0" izz="0.651" radius="0.35" length="0.4" color_c="Red_d" rgba="0.4 0 0 1.0" />
	
	<xacro:m_joint name="${l01}__${l02}" type="revolute" axis_xyz="0 1 0" origin_rpy="0 0 0" orgin_xyz="0 0 0.4" parent="${l01}" child="${l02}"  limit_e="1000.0" limit_l="0" limit_u="1.5" limit_v="0.5"/>
	
	<xacro:m_link_cylinder name="${l02}" origin_xyz="0 0 0.4" origin_rpy="0 0 0" mass="57.906" ixx="12.679" ixy="0" ixz="0" iyy="12.679" iyz="0" izz="0.651" radius="0.15" length="0.8" color_c="Red_d1" rgba="0.6 0 0 1.0" />
	
	<xacro:m_joint name="${l02}__${l03}" type="revolute" axis_xyz="0 1 0" origin_rpy="0 0 0" orgin_xyz="0 0 0.8" parent="${l02}" child="${l03}"  limit_e="1000.0" limit_l="-1.57" limit_u="1.57" limit_v="0.5"/>
	
	<xacro:m_link_cylinder name="${l03}" origin_xyz="0 0 0.4" origin_rpy="0 0 0" mass="57.906" ixx="12.679" ixy="0" ixz="0" iyy="12.679" iyz="0" izz="0.651" radius="0.15" length="0.8" color_c="Red_d2" rgba="1.0 0 0 1.0" />
	
	<xacro:m_joint name="${l03}__${l04}" type="revolute" axis_xyz="0 1 0" origin_rpy="0 0 0" orgin_xyz="0 0 0.8" parent="${l03}" child="${l04}"  limit_e="1000.0" limit_l="-1.4" limit_u="1.8" limit_v="0.5"/>
	
	<xacro:m_link_cylinder name="${l04}" origin_xyz="0 0 0.4" origin_rpy="0 0 0" mass="57.906" ixx="12.679" ixy="0" ixz="0" iyy="12.679" iyz="0" izz="0.651" radius="0.15" length="0.8" color_c="Red_l" rgba="1.0 0.2 0.2 1.0" />
	
	<xacro:m_joint name="${l04}__${l05}" type="revolute" axis_xyz="0 0 1" origin_rpy="0 0 0" orgin_xyz="0 0 0.8" parent="${l04}" child="${l05}"  limit_e="1000.0" limit_l="-3.14" limit_u="3.14" limit_v="0.5"/>
	
	<xacro:m_link_box name="${l05}" origin_xyz="0 0 0" origin_rpy="0 0 0" mass="18.056" ixx="0.479" ixy="0" ixz="0" iyy="0.479" iyz="0" izz="0.204" size="3.0 3.0 0.15" color_c="White" rgba="1.0 1.0 1.0 1.0" />
		
    <!-- END Robot description -->
    
    <gazebo>
    	<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    		<robotNamespace>/mrm</robotNamespace>
    	</plugin>
    </gazebo>
    
</robot>
